.pinkdiv{
   
    padding: 0px 10px 0px 10px;
    display: flex;
    justify-content: space-between;
    background-color: #122338;
    box-shadow:2px 2px 3px rgb(206, 212, 197);

}
.greenDiv{
    
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    font-size: 20px;
    font-weight: 400;
    max-width: 45%;

    width: 100%;
   
    
}
.greenDiv>a{
    color: white !important;
}