.ContactUs{
    max-width:1440px;
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
    
    padding: 50px;
    background-color: rgb(235, 253, 251);
    border-radius: 8px;}
    .contact{
        text-align: center;
    }
   